<td valign="top" {{#if short}}colspan="1" width="250"{{else}}colspan="2"{{/if}}>
  <div class="attachment_field_title">{{ title }}</div>
  <div class="attachment_field_value {{#if short}}short{{/if}}">
    {{ value }}
  </div>
</td>
