<div class="message__attachment">
  <div class="attachment__pretext">{{ attachment_format "pretext" this }}</div>
  <div class="attachment__wrapper">
    <div class="attachment__bar" style="background:{{ color }};">&nbsp;</div>
    <div class="attachment__content">
      {{> attachment_author}}
      {{> attachment_title}}
      <div class="attachment__contents">{{ attachment_format "text" this }}</div>
      {{> attachment_fields}}
    </div>
  </div>
</div>
