<div class="message">
  <img
     class="message__image"
     src="{{ member_image this }}"
     />
  <span class="message__sender">{{ username }}</span>
  <span class="message__label--bot">BOT</span>
  <span class="message__timestamp">{{ timestamp }}</span>
  <div class="message__content">{{ format text mrkdwn }}</div>
  {{#each attachments}}
    {{> attachment}}
  {{/each}}
</div>
